--This is for the Homepage or where you start from.

#header{
	color: black;
	
}
#profile{
	color: gold;
	
}
#education{
	color: black
}

#experience1{
	color: black
}

#experience2{
	color: black
}


#container1{
	color: gold
}
#Links{
	color: Blue
}