
@{
    ViewBag.Title = "Homepage";
}

<h2>Movie List</h2>
<center>
<p>Here's a list of movies that you might think it's interesting to watch</p>
@Html.ActionLink("Movie List", "Index", null, new {@class= "btn btn-primary" } )

</center>
