
@{
    ViewBag.Title = "Homepage";
}

<h2>Reginald's Ancient Antiquities Auction House</h2>
<center>
    <p>Welcome to the Acution!</n> Let's start biding! </p>
@Html.ActionLink("Create Bid","CreateBids",null, new { @class="btn btn-primary" })
   </center>
