@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <div>
        <h2>Homework 4</h2>
        <center>
            <p>
                MVC application on a webpage platform
            </p>
        </center>
    </div>

    <p>
        This Assignment is present and demonstrate the input and output
        that goes between html
    </p>

    <ul>
        <li>@Html.ActionLink("Page 1", "Page_1")</li>
        <li>@Html.ActionLink("Page 2", "Page_2")</li>
        <li>@Html.ActionLink("Page 3", "Page_3")</li>
    </ul>
</html>
