
@{
    ViewBag.Title = "Homepage";
}

<h2>Art Exhibit</h2>
<center>
    <p>
        Welcome to our Art Exhibit please have a look around and see who made
        which piece.
    </p>
</center>
<div>
    @Html.ActionLink("View", "Index", null, new { @class="btn btn-primary"})
</div>
