@{ 
    ViewBag.Title = "page1";
}

<h2>Page 1</h2>
<p> This will create the conversion between Fahrenheit and Celsius</p>
<br / >

<form method="put">
    <p>
        <label for="Degree"> Degrees:</label>
        <input type
    </p>


</form>